<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/index.css">
  <title>EaglePlan</title>
</head>

<body>
  <h1 class="welcome">Welcome to EaglePlan {{ request.user.username }}!</h1>

  {% if request.user.is_authenticated %}
    {% include 'navbar.html' %}
    <a href="{% url 'logout' %}">Logout</a>
  {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}">Signup</a>
  {% endif %}

</body>
</html>

