{% load static %}
<h1>user input</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'input.css' %}">
</head>
<body>

    <form action="" method="POST">{% csrf_token %}
        <input type="text" placeholder="firstname" name="firstname">
        <input type="text" placeholder="lastname" name="lastname">
        <input type="text" placeholder="startyear" name="startyear">
        <input type="text" placeholder="gradyear" name="gradyear">
        <input type="text" placeholder="major1" name="major1">
        <input type="text" placeholder="major2" name="major2">
        <input type="text" placeholder="minor1" name="minor1">
        <input type="text" placeholder="minor2" name="minor2">
        
        <button type="sumbit">Submit</button>
    </form>

</body>
</html>
