{% include 'navbar.html' %}
{% load static %}

<h1> User Four Year Plan Page </h1>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Four Year Plan</title>
<link rel="stylesheet" href="{% static 'userplan.css' %}">
</head>
<body>

<div class="tab-container">
  <div class="tab active">Primary Plan</div>
  <div class="tab">Plan 2</div>
  <div class="tab">Plan 3</div>
  <div class="tab">+</div>
</div>

<div class="plan-container">
  <div class="semester-plan">
    <div class="semester-header"> <b> FRESHMAN FALL </b> </div>
    <ul class="course-list">
      <li>Course 1</li>
      <li>Course 2</li>
      <li>Course 3</li>
      <li>Course 4</li>
      <li>Course 5</li>
    </ul>
  </div>
  <div class="semester-plan">
    <div class="semester-header"> <b> FRESHMAN SPRING </b> </div>
    <ul class="course-list">
      <li>Course 1</li>
      <li>Course 2</li>
      <li>Course 3</li>
      <li>Course 4</li>
      <li>Course 5</li>
    </ul>
  </div>
</div>

<div class="plan-container">
  <div class="semester-plan">
    <div class="semester-header"> <b> SOPHOMORE FALL </b> </div>
    <ul class="course-list">
      <li>Course 1</li>
      <li>Course 2</li>
      <li>Course 3</li>
      <li>Course 4</li>
      <li>Course 5</li>
    </ul>
  </div>
  <div class="semester-plan">
    <div class="semester-header"> <b> SOPHOMORE SPRING </b> </div>
    <ul class="course-list">
      <li>Course 1</li>
      <li>Course 2</li>
      <li>Course 3</li>
      <li>Course 4</li>
      <li>Course 5</li>
    </ul>
  </div>
</div>

<div class="plan-container">
  <div class="semester-plan">
    <div class="semester-header"> <b> JUNIOR FALL </b> </div>
    <ul class="course-list">
      <li>Course 1</li>
      <li>Course 2</li>
      <li>Course 3</li>
      <li>Course 4</li>
      <li>Course 5</li>
    </ul>
  </div>
  <div class="semester-plan">
    <div class="semester-header"> <b> JUNIOR SPRING </b> </div>
    <ul class="course-list">
      <li>Course 1</li>
      <li>Course 2</li>
      <li>Course 3</li>
      <li>Course 4</li>
      <li>Course 5</li>
    </ul>
  </div>
</div>

<div class="plan-container">
  <div class="semester-plan">
    <div class="semester-header"> <b> SENIOR FALL </b> </div>
    <ul class="course-list">
      <li>Course 1</li>
      <li>Course 2</li>
      <li>Course 3</li>
      <li>Course 4</li>
      <li>Course 5</li>
    </ul>
  </div>
  <div class="semester-plan">
    <div class="semester-header"> <b> SENIOR SPRING </b> </div>
    <ul class="course-list">
      <li>Course 1</li>
      <li>Course 2</li>
      <li>Course 3</li>
      <li>Course 4</li>
      <li>Course 5</li>
    </ul>
  </div>
</div>
